.p-galleria-thumbnail-items {
    gap: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
  }
  
  .p-galleria-thumbnail-item {
    width: 30px;         /* Force the thumbnail container width */
    height: 55px;        /* Or whatever height you want */
    overflow: hidden;    /* Hide overflow just in case */
    padding: 0;
    margin: 0;
    display: flex;       /* So the image fits neatly */
    align-items: center;
    justify-content: center;
  }
  
  .p-galleria-thumbnail-image {
    width: 30px;         /* Set thumbnail image width */
    height: 55px;        /* Set thumbnail image height */
    object-fit: cover;   /* Ensures image fills the box */
    margin: 0;
    padding: 0;
    display: block;
  }