.p-galleria-thumbnail-container {
    height: 15vh;
    display: flex;
    align-items: center;
    
}

.p-galleria-thumbnail-items {
    height: 10vh;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }
  
  .p-galleria-thumbnail-item {
    overflow: hidden;    /* Hide overflow just in case */
    padding: 0;
    margin: 0;
    display: flex;       /* So the image fits neatly */
    align-items: center;
    justify-content: center;

    border: 2px solid #fff200;  
    border-radius: 4px;          
    box-shadow: 0 0 2px #fff20099;
    background: #fffde7;          
    transition: border-color 0.2s, box-shadow 0.2s;
}
  
  
.p-galleria-thumbnail-item:hover {
    border-color: #00eaff;    /* Cyan highlight on hover or active */
    box-shadow: 0 0 6px #00eaffcc;
}